<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    body{
        background-color:white;
    }
    h1{
        text-align: center;
    }
    p{
        font-size: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
</style>
</head>
<body>
    <h1>User profile</h1>
    <p style="color:darkorange">Name : Peteti Paul Kiran</p>
    <p style="color:darkorange">Id: 21000031927</p><br>

    <p style="color:skyblue">Name : Potta Ruthwick</p>
    <p style="color:skyblue">Id: 21000032011</p><br>

    <p style="color:green ;">Name : Seepana Venkateshwararao</p>
    <p style="color:green ;">Id: 21000032157</p><br>
    
</body>
</html>